#container-feed{
    padding: 0 100px;
    min-height: 90dvh;
    @media (max-width: 768px) {
        padding: 0 16px;
    } 
    .container-feed{
        max-width: 400px; 
        min-width: 100%; 
        @media (max-width: 768px) {
            min-width: 100%; 
            max-width: 300px !important;
        } 
    }
}